<h1><%= @container.name %></h1>
<p><%= link_to "Info", container_path(@container.short_id) %></p>
<p><%= link_to "Scroll back", container_log_path(@container.short_id, limit: (params[:limit] || 50).to_i + 50) %>
<div class="log_lines">
<% format_logs(@container.logs, params[:limit].to_i).each do |log_line| %>
  <p><%= log_line %></p>
<% end %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    var source = new EventSource('/container_logs/<%= @container.id %>');

    source.addEventListener('results', function(e){
      console.log('Received a message:', e.data);
      $("#users").append("<li>"+ $.parseJSON(e.data).name +"</li>");
    });

    source.addEventListener('debug', function(e){
      console.log('Received a debug:', e.data);
    });

    source.addEventListener('finished', function(e){
      console.log('Close:', e.data);
      source.close();
    });
  </script>
<% end %>
