<% content_for :sidebar do %>
<%= render "sidebar" %>
<% end %>
<header>
  <h1 class="page-header"><%= @image.short_id %></h1>
</header>
<div class="view active">
  <ul>
    <% @image.data.each do |data| %>
    <li>
      <% if data[0].include? "Config" %>
      <span><%= data[0] %></span> : <span></span>
      <ul>
        <% data[1].each do |data| %>
        <li><span><%= data[0] %></span> : <span><%= data[1] %></span></li>
        <% end %>
      </ul>
      <% else %>
      <span><%= data[0] %></span> : <span><%= data[1] %></span>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
