<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag    "application", media: "all" %>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%# <link rel="icon" href="../../favicon.ico"> %>

    <title>Cargo</title>

    <!-- Bootstrap core CSS -->
    <%# <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> %>

    <!-- Custom styles for this template -->
    <%# <link href="dashboard.css" rel="stylesheet"> %>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <%# <script src="../../assets/js/ie-emulation-modes-warning.js"></script> %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cargo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col-sm-12 col-md-2 menu">
          test
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-2 sidebar">
          <div class="pane containers">
            <ul class="states">
              <li><header><h2>Active containers</h2></header>
                <ul id="running">
                  <% @containers.each do |container| %>
                    <% if container.state == "running" || container.state == "restarting" %>
                      <li class="<%= (@container && @container.short_id == container.short_id) ? "current" :  "" %>">
                        <div class="docker-container" data-state="<%= container.state %>">
                          <%= link_to container.name, container_path(container.short_id) %> <% if container.running? %><span class="label label-success">Running</span><% end %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><header><h2>Paused</h2></header>
                <ul id="paused">
                  <% @containers.each do |container| %>
                    <% if container.state == "pausing" %>
                    <li class="<%= (@container && @container.short_id == container.short_id) ? "current" :  "" %>">
                      <div class="docker-container" data-state="<%= container.state %>">
                        <%= link_to container.name, container_path(container.short_id) %> <% if container.running? %><span class="label label-success">Running</span><% end %>
                      </div>
                    </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
              <li><header><h2>Off</h2></header>
                <ul id="off">
                  <% @containers.each do |container| %>
                    <% if container.state == "off" %>
                    <li class="<%= (@container && @container.short_id == container.short_id) ? "current" :  "" %>">
                      <div class="docker-container" data-state="<%= container.state %>">
                        <%= link_to container.name, container_path(container.short_id) %> <% if container.running? %><span class="label label-success">Running</span><% end %>
                      </div>
                    </li>
                    <% end %>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>

        </div>
        <div class="col-sm-10 main">
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <%#
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    %>
    <%= javascript_include_tag "application" %>
    <%= content_for :javascript %>
  </body>
</html>
